<div class="items-sell-contents">
 
  <div class="items-sell-main">
    <h2 class="items-sell-title">家計簿の情報を入力</h2>
    <%= form_with model: @money, url:moneys_path, local: true do |f| %>

    <%#= render 'shared/error_messages', model: f.object %>
    <%# 収入 %>
    <div class="weight-bold">収入</div>
      <div class="weight-bold-text">
          月
          <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :month, class:"items-short", id:"item", placeholder:"例（必須 2022/2)" %>
      <div class="weight-bold-text">
        口座名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :income_account_name, class:"items-text", id:"item-name", placeholder:"例（必須 ○○のゆうちょ)" %>
      <div class="weight-bold-text">
        金額
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :income_money, class:"items-short", id:"item-info", placeholder:"金額（必須 半角数字で入力）" %>

    <%# /収入 %>

    <%# 支出 %>
      <div class="weight-bold">支出1</div>
        <div class="form">
          <div class="weight-bold-text">
            口座名
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :payment_account1_name, class:"items-text", id:"item-name", placeholder:"例（必須 ○○のゆうちょ)" %>
          <ul class="items-detail">
            <li class="weight-bold-text">
              カテゴリー
              <span class="indispensable">必須</span>
            <a>
            <%= f.collection_select(:item_name1_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-status"}) %>
            </a>
            </li>
            <li class="weight-bold-text">
              金額
            <span class="indispensable">必須</span>
            <a>
            <%= f.text_area :payment1_money, class:"items-short", id:"item-price1", placeholder:"（必須 半角数値のみ)" %>
            </a>
            </li>
          </ul>
          <ul class="items-detail">
            <li class="weight-bold-text">
              カテゴリー
            <a>
            <%= f.collection_select(:item_name2_id, Category1.all, :id, :name, {}, {class:"select-box", id:"item-status"}) %>
            </a>
            </li>
            <li class="weight-bold-text">
              金額
            <a>
            <%= f.text_area :payment2_money, class:"items-short", id:"item-price2", placeholder:"（半角数値のみ)" %>
            </a>
            </li>
          </ul>
          <ul class="items-detail">
            <li class="weight-bold-text">
              カテゴリー
            <a>
            <%= f.collection_select(:item_name3_id, Category2.all, :id, :name, {}, {class:"select-box", id:"item-status"}) %>
            </a>
            </li>
            <li class="weight-bold-text">
              金額
            <a>
            <%= f.text_area :payment3_money, class:"items-short", id:"item-price3", placeholder:"（半角数値のみ)" %>
            </a>
            </li>
          </ul>
          <ul class="items-detail">
            <li class="weight-bold-text">
              カテゴリー
            <a>
            <%= f.collection_select(:item_name4_id, Category3.all, :id, :name, {}, {class:"select-box", id:"item-status"}) %>
            </a>
            </li>
            <li class="weight-bold-text">
              金額
            <a>
            <%= f.text_area :payment4_money, class:"items-short", id:"item-price4", placeholder:"（半角数値のみ)" %>
            </a>
            </li>
          <ul class="items-detail">
            <li class="weight-bold-text">
              カテゴリー
            <a>
            <%= f.text_area :item_name2_self, class:"items-short",id:"item-status", placeholder:"例（ Amazon定期便)" %>
            </a>
            </li>
            <li class="weight-bold-text">
              金額
            <a>
            <%= f.text_area :payment5_money, class:"items-short", id:"item-price5", placeholder:"（半角数値のみ)" %>
            </a>
            </li>
          </ul>
        </div>
    <%# 支出 %>
    <%# 支出任意 %>
      <div class="weight-bold">支出2</div>
        <div class="form">
        <div class="weight-bold-text">
          口座名
        </div>
        <%= f.text_area :payment_account2_name, class:"items-text", id:"item-name", placeholder:"例（○○のゆうちょ)" %>
        <ul class="items-detail">
          <li class="weight-bold-text">
            カテゴリー
          <a>
          <%= f.collection_select(:item_name5_id, Category4.all, :id, :name, {}, {class:"select-box", id:"item-status"}) %>
          </a>
          </li>
          <li class="weight-bold-text">
            金額
          <a>
          <%= f.text_area :payment6_money, class:"items-short", id:"item-price6", placeholder:"（半角数値のみ)" %>
          </a>
          </li>
        </ul>
        <ul class="items-detail">
          <li class="weight-bold-text">
            カテゴリー
          <a>
          <%= f.collection_select(:item_name6_id, Category5.all, :id, :name, {}, {class:"select-box", id:"item-status"}) %>
          </a>
          </li>
          <li class="weight-bold-text">
            金額
          <a>
          <%= f.text_area :payment7_money, class:"items-short", id:"item-price7", placeholder:"（半角数値のみ)" %>
          </a>
          </li>
        </ul>
        <ul class="items-detail">
          <li class="weight-bold-text">
            カテゴリー
          <a>
          <%= f.text_area :item_name1_self, class:"items-short",id:"item-status", placeholder:"例（Amazon定期便)" %>
          </a>
          </li>
          <li class="weight-bold-text">
            金額
          <a>
          <%= f.text_area :payment8_money, class:"items-short", id:"item-price8", placeholder:"（半角数値のみ)" %>
          </a>
          </li>
        </ul>
        <div class="weight-bold">支出3</div>
        <div class="form">
        <div class="weight-bold-text">
          口座名
        </div>
        <%= f.text_area :payment_account3_name, class:"items-text", id:"item-name", placeholder:"例（○○のゆうちょ)" %>
        <ul class="items-detail">
          <li class="weight-bold-text">
            カテゴリー
          <a>
          <%= f.collection_select(:item_name7_id, Category6.all, :id, :name, {}, {class:"select-box", id:"item-status"}) %>
          </a>
          </li>
          <li class="weight-bold-text">
            金額
          <a>
          <%= f.text_area :payment9_money, class:"items-short", id:"item-price9", placeholder:"（半角数値のみ)" %>
          </a>
          </li>
        </ul>
        <ul class="items-detail">
          <li class="weight-bold-text">
            カテゴリー
          <a>
          <%= f.collection_select(:item_name8_id, Category7.all, :id, :name, {}, {class:"select-box", id:"item-status"}) %>
          </a>
          </li>
          <li class="weight-bold-text">
            金額
          <a>
          <%= f.text_area :payment10_money, class:"items-short", id:"item-price10", placeholder:"（半角数値のみ)" %>
          </a>
          </li>
        </ul>
        <ul class="items-detail">
          <li class="weight-bold-text">
            カテゴリー
          <a>
          <%= f.text_area :item_name3_self, class:"items-short", id:"item-status", placeholder:"例（Amazon定期便)" %>
          </a>
          </li>
          <li class="weight-bold-text">
            金額
          <a>
          <%= f.text_area :payment11_money, class:"items-short", id:"item-price11", placeholder:"（半角数値のみ)" %>
          </a>
          </li>
        </ul>
      </div>
    <%# /支出任意 %>
    <%# 差額 %>
    <div class="sell-price">
      <table class="detail-table">
        <tbody>
            <tr>
              <div class="price-content">
              <th>収入額:</th>
              </div>
              <td class="price-content">
              <span id='income-price'></span>円
              </td>
            </tr>
            <tr>
              <div class="price-content">
              <th>支出合計:</th>
              </div>
              <td class="price-content">
              <span id='outcome-price'></span>円
              </td>
            </tr>
            <tr>
              <div class="price-content">
              <th>差額:</th>
              </div>
              <td class="price-content">
              <span id='add-price'></span>円
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <%# /差額 %>
    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">ラクボ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>

    <p class="inc">
      ©︎ラクボ,Inc.
    </p>
  </footer>
</div>