<%= render "shared/header" %>

  <% itemValue = Array.new() %>
  <% moneyValue = [] %>

    <% @res.each do |data| %>
      <%#アイテム名%>
      <% if data.to_hash["item_id"] == "1" %>
        <% itemValue.push(Category.find(data.to_hash["item_id"]).name) %>
      <% elsif (data.to_hash["item_id"] <= '13' && 
               data.to_hash["item_id"] >= '10' ) ||
               (data.to_hash["item_id"] <= '9'  &&
               data.to_hash["item_id"] >= '2') %>
        <% itemValue.push(Category1.find(data.to_hash["item_id"]).name) %>
      <% else %>
        <% itemValue.push(Regexp.escape(data.to_hash["item_id"]))%>
      <% end %>
      <%#各種合計%>
      <% moneyValue.push(data.to_hash["Kei"]) %>
    <% end %>

<div class="item-show">
  <div class="item-box">
    <h2 class="name-title">
      収入：<%= Year.find(@money.year_id).name %><%= Month.find(@money.month_id).name %>
    </h2>

    <% if @money.income_account_name.present? && @money.income_money.present? %>
      <div class="item-price-box">
        <span class="item-price">
        口座名1
        </span>
        <span class="name-title">
          <%= @money.income_account_name %>
        </span>
      </div>
      <div class="item-price-box">
        <span class="item-price">
        金額1 
        </span>
        <span class="name-title">
          <%= @money.income_money.to_s(:delimited) %>円
        </span>
      </div>
    <% end %>
    
    <% if @money.income_account2_name.present? && @money.income2_money.present? %>
      <div class="item-price-box">
        <span class="item-price">
        口座名2
        </span>
        <span class="name-title">
          <%= @money.income_account2_name %>
        </span>
      </div>
      <div class="item-price-box">
        <span class="item-price">
        金額2 
        </span>
        <span class="name-title">
          <%= @money.income2_money.to_s(:delimited) %>円
        </span>
      </div>
    <% end %>

    <div class="bottun-box">
      <%= link_to "投稿の編集", edit_money_path, method: :get, class: "item-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", money_path, method: :delete, class:"item-destroy" %>
    </div>

    <div class="item-box">
    <div class="item-explain-box">
      <span class="item-price">支出1：</span>
      <span class="name-title">
        <%= @money.payment_account1_name %>
      </span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item1">カテゴリー</th>
          <td class="detail-value1">金額</td>
        </tr>

        <% if @money.item_name1_id.present? && @money.payment1_money.present? %>
        <tr>
          <th class="detail-item"><p><%= Category.find(@money.item_name1_id).name %></p></th>
          <td class="detail-value"><p><%= @money.payment1_money.to_s(:delimited) %></p></td>
        </tr>
        <% end %>

        <% if @money.item_name2_id.present? && @money.payment2_money.present? %>
        <tr>
          <th class="detail-item"><p><%= Category1.find(@money.item_name2_id).name %></p></th>
          <td class="detail-value"><p>
          <%= @money.payment2_money.to_s(:delimited) %></p></td>
        </tr>
        <% end %>

        <% if @money.item_name2_self.present? && @money.payment5_money.present? %>
        <tr>
          <th class="detail-item"><p><%= @money.item_name2_self %></p></th>
          <td class="detail-value"><p>
          <%= @money.payment5_money.to_s(:delimited) %></p></td>
        </tr>
        <% end %>

        <tr>
          <th class="detail-item1">合計</th>
          <td class="detail-value1">
          <%= (@money.payment1_money + 
           if @money.payment2_money.nil?
            0
           else
            @money.payment2_money
           end +
           if @money.payment5_money.nil?
             0
             else
             @money.payment5_money
          end).to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>

    <div class="item-explain-box">
      <span class="item-price">支出2：</span>
      <span class="name-title">
        <%= @money.payment_account2_name %>
      </span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item1">カテゴリー</th>
          <td class="detail-value1">金額</td>
        </tr>

        <% if @money.item_name3_id.present? && @money.payment3_money.present? %>
        <tr>
          <th class="detail-item"><p><%= Category1.find(@money.item_name3_id).name %></p></th>
          <td class="detail-value"><p>
          <%= @money.payment3_money.to_s(:delimited) %></p></td>
        </tr>
        <% end %>

        <% if @money.item_name4_id.present? && @money.payment4_money.present? %>
        <tr>
          <th class="detail-item"><p><%= Category1.find(@money.item_name4_id).name %></p></th>
          <td class="detail-value"><p>
          <%= @money.payment4_money.to_s(:delimited) %></p></td>
        </tr>
        <% end %>

        <% if @money.item_name5_id.present? && @money.payment6_money.present? %>
        <tr>
          <th class="detail-item"><p><%= Category1.find(@money.item_name5_id).name %></p></th>
          <td class="detail-value"><p>
          <%= @money.payment6_money.to_s(:delimited) %></p></td>
        </tr>
        <% end %>

        <% if @money.item_name6_id.present? && @money.payment7_money.present? %>
        <tr>
          <th class="detail-item"><p><%= Category1.find(@money.item_name6_id).name %></p></th>
          <td class="detail-value"><p>
          <%= @money.payment7_money.to_s(:delimited) %></p></td>
        </tr>
        <% end %>

        
        <% if @money.item_name7_id.present? && @money.payment9_money.present? %>
          <tr>
            <th class="detail-item"><p><%= Category1.find(@money.item_name7_id).name %></p></th>
            <td class="detail-value"><p>
            <%= @money.payment9_money.to_s(:delimited) %></p></td>
          </tr>
        <% end %>

        <% if @money.item_name12_id.present? && @money.payment15_money.present? %>
          <tr>
            <th class="detail-item"><p><%= Category1.find(@money.item_name12_id).name %></p></th>
            <td class="detail-value"><p>
            <%= @money.payment15_money.to_s(:delimited) %></p></td>
          </tr>
        <% end %>

        <% if @money.item_name1_self.present? && @money.payment8_money.present? %>
        <tr>
          <th class="detail-item"><p><%= @money.item_name1_self %></p></th>
          <td class="detail-value"><p>
          <%= @money.payment8_money.to_s(:delimited) %></p></td>
        </tr>
        <% end %>

        <tr>
        <tr>
          <th class="detail-item1">合計</th>
          <td class="detail-value1">
          <%= (if @money.payment3_money.nil?
             0
             else
             @money.payment3_money
           end +
            if @money.payment4_money.nil?
             0
             else
             @money.payment4_money
           end +
            if @money.payment6_money.nil?
            0
            else
              @money.payment6_money
            end + 
           if @money.payment7_money.nil?
            0
           else
            @money.payment7_money
           end +
           if @money.payment9_money.nil?
            0
            else
              @money.payment9_money
            end + 
            if @money.payment15_money.nil?
            0
            else
              @money.payment15_money
            end + 
           if @money.payment8_money.nil?
             0
             else
             @money.payment8_money
           end).to_s(:delimited) %></td>
        </tr>
        </tr>
      </tbody>
    </table>
    <div class="item-explain-box">
      <span class="item-price">支出3：</span>
      <span class="name-title">
        <%= @money.payment_account3_name %>
      </span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item1">カテゴリー</th>
          <td class="detail-value1">金額</td>
        </tr>

        <% if @money.item_name8_id.present? && @money.payment10_money.present? %>
        <tr>
          <th class="detail-item"><p><%= Category1.find(@money.item_name8_id).name %></p></th>
          <td class="detail-value"><p>
          <%= @money.payment10_money.to_s(:delimited) %></p></td>
        </tr>
        <% end %>

        <% if @money.item_name9_id.present? && @money.payment12_money.present? %>
        <tr>
          <th class="detail-item"><p><%= Category1.find(@money.item_name9_id).name %></p></th>
          <td class="detail-value"><p>
          <%= @money.payment12_money.to_s(:delimited) %></p></td>
        </tr>
        <% end %>

        <% if @money.item_name10_id.present? && @money.payment13_money.present? %>
        <tr>
          <th class="detail-item"><p><%= Category1.find(@money.item_name10_id).name %></p></th>
          <td class="detail-value"><p>
          <%= @money.payment13_money.to_s(:delimited) %></p></td>
        </tr>
        <% end %>

        <% if @money.item_name11_id.present? && @money.payment14_money.present? %>
        <tr>
          <th class="detail-item"><p><%= Category1.find(@money.item_name11_id).name %></p></th>
          <td class="detail-value"><p>
          <%= @money.payment14_money.to_s(:delimited) %></p></td>
        </tr>
        <% end %>

        <% if @money.item_name13_id.present? && @money.payment16_money.present? %>
        <tr>
          <th class="detail-item"><p><%= Category1.find(@money.item_name13_id).name %></p></th>
          <td class="detail-value"><p>
          <%= @money.payment16_money.to_s(:delimited) %></p></td>
        </tr>
        <% end %>

        <% if @money.item_name3_self.present? && @money.payment11_money.present? %>
        <tr>
          <th class="detail-item"><p><%= @money.item_name3_self %></p></th>
          <td class="detail-value">
          <%= @money.payment11_money.to_s(:delimited) %></p></td>
        </tr>
        <% end %>

        <tr>
          <th class="detail-item1">合計</th>
          <td class="detail-value1">
          <%= (
           if @money.payment10_money.nil?
            0
           else
            @money.payment10_money
           end +
           if @money.payment11_money.nil?
             0
             else
             @money.payment11_money
           end +
           if @money.payment12_money.nil?
             0
             else
             @money.payment12_money
           end +
           if @money.payment13_money.nil?
             0
             else
             @money.payment13_money
           end +
           if @money.payment16_money.nil?
            0
            else
              @money.payment16_money
            end +
           if @money.payment14_money.nil?
             0
             else
             @money.payment14_money
           end).to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item1">収入総合計</th>
          <td class="detail-value1">
          <%= if @money.income2_money.nil?
          @money.income_money.to_s(:delimited)
          else
          (@money.income_money + @money.income2_money).to_s(:delimited)
          end %></td>
        </tr>
        <tr>
          <th class="detail-item1">支出総合計</th>
          <td class="detail-value1">
          <% (total = @money.payment1_money + 
          if @money.payment2_money.nil?
            0
          else
            @money.payment2_money
          end +
          if @money.payment3_money.nil?
             0
          else
             @money.payment3_money
          end +
          if @money.payment4_money.nil?
             0
          else
             @money.payment4_money
          end +
          if @money.payment5_money.nil?
             0
          else
             @money.payment5_money
          end +
          if @money.payment6_money.nil?
            0
          else
              @money.payment6_money
          end + 
          if @money.payment7_money.nil?
            0
           else
            @money.payment7_money
           end +
           if @money.payment8_money.nil?
             0
           else
             @money.payment8_money
           end +
           if @money.payment9_money.nil?
            0
            else
              @money.payment9_money
            end + 
           if @money.payment10_money.nil?
            0
           else
            @money.payment10_money
           end +
           if @money.payment11_money.nil?
             0
           else
             @money.payment11_money
          end +
          if @money.payment12_money.nil?
             0
           else
             @money.payment12_money
          end +
          if @money.payment13_money.nil?
             0
           else
             @money.payment13_money
          end +
          if @money.payment14_money.nil?
             0
           else
             @money.payment14_money
          end +
          if @money.payment15_money.nil?
             0
           else
             @money.payment15_money
          end +
          if @money.payment16_money.nil?
             0
           else
             @money.payment16_money
          end) %>
          <%= total.to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
    <div class="chart-wrapper">
      <div [hidden]="chart === null">
        <canvas id="myChart"></canvas>
        <p class="chart-center">支出<br>¥<%= total.to_s(:delimited) %></p>
      </div>
    </div>
  </div>
</div>
<%# 円グラフ -----------------------------------------------------------------------------------------------------------------%>
<script>
  window.onload = function () {
    const ctx = document.getElementById('myChart')

    function removeComma(number) {
      var removed = number.replace(/,/g, '');
      return parseInt(removed, 10);
    }

    let result1;
    let result2;
    let result3;
    let result4;
    let result5;
    let result6;
    let result7;
    let result8;
    let result9;
    let result10;
    let result11;
    let result12;
    let result13;
    let result14;
    let result15;
    let result16;
    let key1value;
    let key2value;
    let key3value;
    let key4value;
    let key5value;
    let key6value;
    let key7value;
    let key8value;
    let key9value;
    let key10value;
    let key11value;
    let key12value;
    let key13value;
    let key14value;
    let key15value;
    let key16value;

switch ('<%= itemValue.count %>') {
  case '16':
    result16 = "<%= moneyValue[15] %>";
    key16value = "<%= itemValue[15] %>";
  case '15':
    result15 = "<%= moneyValue[14] %>";
    key15value = "<%= itemValue[14] %>";
  case '14':
    result14 = "<%= moneyValue[13] %>";
    key14value = "<%= itemValue[13] %>";
  case '13':
    result13 = "<%= moneyValue[12] %>";
    key13value = "<%= itemValue[12] %>";
  case '12':
    result12 = "<%= moneyValue[11] %>";
    key12value = "<%= itemValue[11] %>";
  case '11':
    result11 = "<%= moneyValue[10] %>";
    key11value = "<%= itemValue[10] %>";
  case '10':
    result10 = "<%= moneyValue[9] %>";
    key10value = "<%= itemValue[9] %>";
  case '9':
    result9 = "<%= moneyValue[8] %>";
    key9value = "<%= itemValue[8] %>";
  case '8':
    result8 = "<%= moneyValue[7] %>";
    key8value = "<%= itemValue[7] %>";
  case '7':
    result7 = "<%= moneyValue[6] %>";
    key7value = "<%= itemValue[6] %>";
  case '6':
    result6 = "<%= moneyValue[5] %>";
    key6value = "<%= itemValue[5] %>";
  case '5':
    result5 = "<%= moneyValue[4] %>";
    key5value = "<%= itemValue[4] %>";
  case '4':
    result4 = "<%= moneyValue[3] %>";
    key4value = "<%= itemValue[3] %>";
  case '3':
    result3 = "<%= moneyValue[2] %>";
    key3value = "<%= itemValue[2] %>";
  case '2':
    result2 = "<%= moneyValue[1] %>";
    key2value = "<%= itemValue[1] %>";
  case '1':
    result1 = "<%= moneyValue[0] %>";
    key1value = "<%= itemValue[0] %>";
  }

console.log(result15);

    const backgroundColor1 = 'rgb(0, 255, 255)' // aqua
    const backgroundColor2 = 'rgb(255, 160, 122)' //salmon
    const backgroundColor3 = 'rgb(255, 69, 0)' //orange
    const backgroundColor4 = 'rgb(255, 215, 0)' //yellow
    const backgroundColor5 = 'rgb(173, 255, 47)' // greenyellow
    const backgroundColor6 = 'rgb(60, 179, 113)' // mediumseagreen
    const backgroundColor7 = 'rgb(0, 100, 0)' // darkgreen
    const backgroundColor8 = 'rgb(65, 105, 225)' // royalblue
    const backgroundColor9 = 'rgb(221, 160, 221)' // plum
    const backgroundColor10 = 'rgb(255, 0, 255)' // magenta
    const backgroundColor11 = 'rgb(138, 43, 226)' // blueviolet
    const backgroundColor12 = 'rgb(188, 143, 143)' // rosybrown
    const backgroundColor13 = 'rgb(184, 134, 11)' // darkgoldenrod
    const backgroundColor14 = 'rgb(139, 69, 19)' // saddlebrown
    const backgroundColor15 = 'rgb(128, 0, 0)' // red
    const backgroundColor16 = 'rgb(255, 255, 240)' // ivory

    //percentageCnt = MAX16
    switch ('<%= itemValue.count %>') {
      default:
        //16の時はここ
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value, key2value, key3value, key4value, key5value, key6value, key7value,key8value, key9value, key10value, key11value, key12value, key13value, key14value, key15value,key16value],
            datasets: [{
              data: [result1,result2,result3,result4,result5,result6,result7,result8,result9,result10,result11,result12,result13,result14,result15,result16],
              backgroundColor: [backgroundColor1,backgroundColor2,backgroundColor3,backgroundColor4,backgroundColor5,backgroundColor6,backgroundColor7,backgroundColor8,backgroundColor9,backgroundColor10,backgroundColor11,backgroundColor12,backgroundColor13,backgroundColor14,backgroundColor15,backgroundColor16]
            }]
          }
        })
      break
      case '15':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value, key2value, key3value, key4value, key5value, key6value, key7value,key8value, key9value, key10value, key11value, key12value, key13value, key14value, key15value],
            datasets: [{
              data: [result1,result2,result3,result4,result5,result6,result7,result8,result9,result10,result11,result12,result13,result14,result15],
              backgroundColor: [backgroundColor1,backgroundColor2,backgroundColor3,backgroundColor4,backgroundColor5,backgroundColor6,backgroundColor7,backgroundColor8,backgroundColor9,backgroundColor10,backgroundColor11,backgroundColor12,backgroundColor13,backgroundColor14,backgroundColor15]
            }]
          }
        })
        break
      case '14':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value,key2value,key3value,key4value,key5value,key6value,key7value,key8value,key9value,key10value,key11value,key12value,key13value,key14value],
            datasets: [{
              data: [result1,result2,result3,result4,result5,result6,result7,result8,result9,result10,result11,result12,result13,result14],
              backgroundColor: [backgroundColor1,backgroundColor2,backgroundColor3,backgroundColor4,backgroundColor5,backgroundColor6,backgroundColor7,backgroundColor8,backgroundColor9,backgroundColor10,backgroundColor11,backgroundColor12,backgroundColor13,backgroundColor14]
            }]
          }
        })
        break
      case '13':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value,key2value,key3value,key4value,key5value,key6value,key7value,key8value,key9value,key10value,key11value,key12value,key13value],
            datasets: [{
              data: [result1,result2,result3,result4,result5,result6,result7,result8,result9,result10,result11,result12,result13],
              backgroundColor: [backgroundColor1,backgroundColor2,backgroundColor3,backgroundColor4,backgroundColor5,backgroundColor6,backgroundColor7,backgroundColor8,backgroundColor9,backgroundColor10,backgroundColor11,backgroundColor12,backgroundColor13]
            }]
          }
        })
        break
      case '12':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value,key2value,key3value,key4value,key5value,key6value,key7value,key8value,key9value,key10value,key11value,key12value],
            datasets: [{
              data: [result1,result2,result3,result4,result5,result6,result7,result8,result9,result10,result11,result12],
              backgroundColor: [backgroundColor1,backgroundColor2,backgroundColor3,backgroundColor4,backgroundColor5,backgroundColor6,backgroundColor7,backgroundColor8,backgroundColor9,backgroundColor10,backgroundColor11,backgroundColor12]
            }]
          }
        })
        break
      case '11':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value,key2value,key3value,key4value,key5value,key6value,key7value,key8value,key9value,key10value,key11value],
            datasets: [{
              data: [result1,result2,result3,result4,result5,result6,result7,result8,result9,result10,result11],
              backgroundColor: [backgroundColor1,backgroundColor2,backgroundColor3,backgroundColor4,backgroundColor5,backgroundColor6,backgroundColor7,backgroundColor8,backgroundColor9,backgroundColor10,backgroundColor11]
            }]
          }
        })
        break
      case '10':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value,key2value,key3value,key4value,key5value,key6value,key7value,key8value,key9value,key10value],
            datasets: [{
              data: [result1,result2,result3,result4,result5,result6,result7,result8,result9,result10],
              backgroundColor: [backgroundColor1,backgroundColor2,backgroundColor3,backgroundColor4,backgroundColor5,backgroundColor6,backgroundColor7,backgroundColor8,backgroundColor9,backgroundColor10]
            }]
          }
        })
        break
      case '9':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value,key2value,key3value,key4value,key5value,key6value,key7value,key8value,key9value],
            datasets: [{
              data: [result1,result2,result3,result4,result5,result6,result7,result8,result9],
              backgroundColor: [backgroundColor1,backgroundColor2,backgroundColor3,backgroundColor4,backgroundColor5,backgroundColor6,backgroundColor7,backgroundColor8,backgroundColor9]
            }]
          }
        })
        break
      case '8':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value,key2value,key3value,key4value,key5value,key6value,key7value,key8value],
            datasets: [{
              data: [result1,result2,result3,result4,result5,result6,result7,result8],
              backgroundColor: [backgroundColor1,backgroundColor2,backgroundColor3,backgroundColor4,backgroundColor5,backgroundColor6,backgroundColor7,backgroundColor8]
            }]
          }
        })
        break
      case '7':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value,key2value,key3value,key4value,key5value,key6value,key7value],
            datasets: [{
              data: [result1,result2,result3,result4,result5,result6,result7],
              backgroundColor: [backgroundColor1,backgroundColor2,backgroundColor3,backgroundColor4,backgroundColor5,backgroundColor6,backgroundColor7]
            }]
          }
        })
        break
      case '6':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value,key2value,key3value,key4value,key5value,key6value],
            datasets: [{
              data: [result1,result2,result3,result4,result5,result6],
              backgroundColor: [backgroundColor1,backgroundColor2,backgroundColor3,backgroundColor4,backgroundColor5,backgroundColor6]
            }]
          }
        })
        break
      case '5':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value,key2value,key3value,key4value,key5value],
            datasets: [{
              data: [result1,result2,result3,result4,result5],
              backgroundColor: [backgroundColor1,backgroundColor2,backgroundColor3,backgroundColor4,backgroundColor5]
            }]
          }
        })
        break
      case '4':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value,key2value,key3value,key4value],
            datasets: [{
              data: [result1,result2,result3,result4],
              backgroundColor: [backgroundColor1,backgroundColor2,backgroundColor3,backgroundColor4]
            }]
          }
        })
        break
      case '3':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value,key2value,key3value],
            datasets: [{
              data: [result1,result2,result3],
              backgroundColor: [backgroundColor1,backgroundColor2,backgroundColor3]
            }]
          }
        })
        break
      case '2':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value,key2value],
            datasets: [{
              data: [result1,result2],
              backgroundColor: [backgroundColor1,backgroundColor2]
            }]
          }
        })
        break
      case '1':
        new Chart(ctx, {
          type: 'doughnut',
          data: {
            labels: [key1value],
            datasets: [{
              data: [result1],
              backgroundColor: [backgroundColor1]
            }]
          }
        })
        break
    }
}
</script>
 <%# /円グラフ ----------------------------------------------------------------------------------------------------------------- %>
<%= render "shared/footer" %>
