<%= render "shared/header" %>


<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @money.month %>
    </h2>
    <div class="item-price-box">
      <span class="item-price">
      口座名1（収入）
      </span>
      <span class="name-title">
        <%= @money.income_account_name %>
      </span>
    </div>
    <div class="item-price-box">
      <span class="item-price">
      収入金額1 
      </span>
      <span class="name-title">
        <%= @money.income_money.to_s(:delimited) %>円
      </span>
    </div>
    <div class="item-price-box">
      <span class="item-price">
      口座名2（収入）
      </span>
      <span class="name-title">
        <%= @money.income_account2_name %>
      </span>
    </div>
    <div class="item-price-box">
      <span class="item-price">
      収入金額2 
      </span>
      <span class="name-title">
        <%= if @money.income2_money.nil?
          "0"
          else
          @money.income2_money.to_s(:delimited)
          end %>円
      </span>
    </div>

    <div class="bottun-box">
      <%= link_to "投稿の編集", edit_money_path, method: :get, class: "item-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", money_path, method: :delete, class:"item-destroy" %>
    </div>

    <div class="item-box">
    <div class="item-explain-box">
      <span class="item-price">支出1：</span>
      <span class="name-title">
        <%= @money.payment_account1_name %>
      </span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item1">カテゴリー</th>
          <td class="detail-value1">金額</td>
        </tr>
        <tr>
          <th class="detail-item"><%= Category.find(@money.item_name1_id).name %></th>
          <td class="detail-value"><%= @money.payment1_money.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th class="detail-item"><%= Category1.find(@money.item_name2_id).name %></th>
          <td class="detail-value"><%= if @money.payment2_money.nil?
           ""
          else
           @money.payment2_money.to_s(:delimited)
           end %></td>
        </tr>
        <tr>
          <th class="detail-item"><%= Category2.find(@money.item_name3_id).name %></th>
          <td class="detail-value"><%= if @money.payment3_money.nil?
          ""
          else
          @money.payment3_money.to_s(:delimited)
          end %></td>
        </tr>
        <tr>
          <th class="detail-item"><%= Category3.find(@money.item_name4_id).name %></th>
          <td class="detail-value"><%= if @money.payment4_money.nil?
          ""
          else
          @money.payment4_money.to_s(:delimited)
          end %></td>
        </tr>
        <tr>
          <th class="detail-item"><%= @money.item_name2_self %></th>
          <td class="detail-value"><%= if @money.payment5_money.nil?
          ""
          else
          @money.payment5_money.to_s(:delimited)
          end %></td>
        </tr>
        <tr>
          <th class="detail-item1">合計</th>
          <td class="detail-value1">
          <%= (@money.payment1_money + 
           if @money.payment2_money.nil?
            0
           else
            @money.payment2_money
           end +
           if @money.payment3_money.nil?
             0
             else
             @money.payment3_money
           end +
           if @money.payment4_money.nil?
             0
             else
             @money.payment4_money
           end +
           if @money.payment5_money.nil?
             0
             else
             @money.payment5_money
          end).to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>

    <div class="item-explain-box">
      <span class="item-price">支出2：</span>
      <span class="name-title">
        <%= @money.payment_account2_name %>
      </span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item1">カテゴリー</th>
          <td class="detail-value1">金額</td>
        </tr>
        <tr>
          <th class="detail-item"><%= Category4.find(@money.item_name5_id).name %></th>
          <td class="detail-value"><%= if @money.payment6_money.nil?
          ""
          else
          @money.payment6_money.to_s(:delimited)
          end %></td>
        </tr>
        <tr>
          <th class="detail-item"><%= Category5.find(@money.item_name6_id).name %></th>
          <td class="detail-value"><%= if @money.payment7_money.nil?
          ""
          else
          @money.payment7_money.to_s(:delimited)
          end %></td>
        </tr>
        <tr>
          <th class="detail-item"><%= @money.item_name1_self %></th>
          <td class="detail-value"><%= if @money.payment8_money.nil?
          ""
          else
          @money.payment8_money.to_s(:delimited)
          end %></td>
        </tr>
        <tr>
        <tr>
          <th class="detail-item1">合計</th>
          <td class="detail-value1">
          <%= (if @money.payment6_money.nil?
            0
            else
              @money.payment6_money
            end + 
           if @money.payment7_money.nil?
            0
           else
            @money.payment7_money
           end +
           if @money.payment8_money.nil?
             0
             else
             @money.payment8_money
           end).to_s(:delimited) %></td>
        </tr>
        </tr>
      </tbody>
    </table>
    <div class="item-explain-box">
      <span class="item-price">支出3：</span>
      <span class="name-title">
        <%= @money.payment_account3_name %>
      </span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item1">カテゴリー</th>
          <td class="detail-value1">金額</td>
        </tr>
        <tr>
          <th class="detail-item"><%= Category6.find(@money.item_name7_id).name %></th>
          <td class="detail-value"><%= if @money.payment9_money.nil?
          ""
          else
          @money.payment9_money.to_s(:delimited)
          end %></td>
        </tr>
        <tr>
          <th class="detail-item"><%= Category7.find(@money.item_name8_id).name %></th>
          <td class="detail-value"><%= if @money.payment10_money.nil?
          ""
          else
          @money.payment10_money.to_s(:delimited)
          end %></td>
        </tr>
        <tr>
          <th class="detail-item"><%= @money.item_name3_self %></th>
          <td class="detail-value"><%= if @money.payment11_money.nil?
          ""
          else
          @money.payment11_money.to_s(:delimited)
          end %></td>
        </tr>
                <tr>
          <th class="detail-item1">合計</th>
          <td class="detail-value1">
          <%= (if @money.payment9_money.nil?
            0
            else
              @money.payment9_money
            end + 
           if @money.payment10_money.nil?
            0
           else
            @money.payment10_money
           end +
           if @money.payment11_money.nil?
             0
             else
             @money.payment11_money
           end).to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item1">収入総合計</th>
          <td class="detail-value1">
          <%= if @money.income2_money.nil?
          @money.income_money.to_s(:delimited)
          else
          (@money.income_money + @money.income2_money).to_s(:delimited)
          end %></td>
        </tr>
        <tr>
          <th class="detail-item1">支出総合計</th>
          <td class="detail-value1">
          <%= (@money.payment1_money + 
          if @money.payment2_money.nil?
            0
          else
            @money.payment2_money
          end +
          if @money.payment3_money.nil?
             0
          else
             @money.payment3_money
          end +
          if @money.payment4_money.nil?
             0
          else
             @money.payment4_money
          end +
          if @money.payment5_money.nil?
             0
          else
             @money.payment5_money
          end +
          if @money.payment6_money.nil?
            0
          else
              @money.payment6_money
          end + 
          if @money.payment7_money.nil?
            0
           else
            @money.payment7_money
           end +
           if @money.payment8_money.nil?
             0
           else
             @money.payment8_money
           end +
           if @money.payment9_money.nil?
            0
            else
              @money.payment9_money
            end + 
           if @money.payment10_money.nil?
            0
           else
            @money.payment10_money
           end +
           if @money.payment11_money.nil?
             0
           else
             @money.payment11_money
          end).to_s(:delimited) %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<%= render "shared/footer" %>
